*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    font-family: gilroy;
}
#txt{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    padding: 0 10px;
    width: 140px;
    height: 25px;
    overflow: hidden;
    
}
h1{
    font-size: 20px;
    font-weight: 600;
    float: left;
    display: inline;
    color: white;

}
ul>li:nth-child(1) {
    color: chartreuse;
}
ul>li:nth-child(2) {
    color: coral;
}
ul>li:nth-child(3) {
    color: cyan;
}
ul>li:nth-child(4) {
    color:red;
}
ul{
    list-style: none;
    padding-left: 55px;  
    animation-name: ss;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

ul>li{
    font-size: 20px;
    font-weight: 600;
}

@keyframes ss {
    0%, 10%{
        transform: translateY(0%);
    }
    15%,25%{
        transform: translateY(-25%);
    }
    30%,40%{
        transform: translateY(-50%);
    }
    45%, 55%{
        transform: translateY(-75%);
    }
    60%, 70%{
        transform: translateY(-50%);
    }
    75%,85%{
        transform: translateY(-25%);
    }
    90%,100%{
        transform: translateY(0%);
    }
    
    
}